#sb-li:before {
    content: '\1F3C2'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#bjj-li:before {
    content: '\1F94B'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#bball-li:before {
    content: '\1F3C0'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#golf-li:before {
    content: '\26F3'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#mma-li:before {
    content: '\1F94A'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#traveling-li:before {
    content: '\1F30E'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#bbc-li:before {
    content: '\1F30A'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#farm-li:before {
    content: '\1F69C'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#traf-li:before {
    content: '\1F698'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#hfh-li:before {
    content: '\1F4E6'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#java-li:before {
    content: '\2615'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#hs-li:before {
    content: '\1F4BB'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#ballot-li:before {
    content: '\1F5F3'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#senior-li:before {
    content: '\1F474'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#hs-li:before {
    content: '\1F393'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#college-li:before {
    content: '\1F3EB'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#cs-li:before {
    content: '\1F5A5'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#lisp-li:before {
    content: '\2328'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#cad-li:before {
    content: '\2699'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#china-li:before {
    content: '\1F50A'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#act-li:before {
    content: '\1F4DA'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#tw-li:before {
    content: '\1F426'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#ms-li:before {
    content: '\1F4A3'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#ws-li:before {
    content: '\1F5A5'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#movie-li:before {
    content: '\1F3A5'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#film-li:before {
    content: '\1F37F'; 
    margin-left: -20px; 
    margin-right: 10px;
}
#git:before {
    content: url(icons/github-icon.png);
    margin-right: 10px;
}
#rw-li:before {
    content: url(icons/twitter-icon.png);
    margin-right: 10px;
}
#cs-li:before {
    content: '\1F5A5';
    margin-right: 10px;
}
#crl-li:before {
    content: '\1F4BE';
    margin-right: 10px;
}
